.cat-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cat-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  margin-top: 10px;
  text-align: center;
}
